
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  grid-gap: 20px;
  background-color: antiquewhite;
}

.grid > article {
  border: 0.05px solid #ccc;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.842);
}

.grid > article img {
  max-width: 100%;
}

.text {
  padding: 0 20px 20px;
}

.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

.grid > article:nth-child(1){
  grid-row: span 2;
}